<a href="/">Back</a>
<h1>
  <%= @list[:name].upcase %>
</h1>
<div>
  <ul>
  <% @items.each do |item| %>
    <li>
      <%= item[:name] %>
    </li>
  <% end %>
  </ul>
</div>

<div>
  <form id='itemForm' method='post' action="lists/<%= @list[:id] %>/items">
    <input name= "name" type="text"></input>
    <input type="submit"></input>
  </form>
</div>